services:

  traefik:
    image: traefik:${TRAEFIK_VERSION:-3}
    container_name: traefik
    ports:
      - "80:80"
      - "443:443"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}-dashboard.rule=Host(`${FQDN_TRAEFIK:-traefik.test}`) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`))"
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}-dashboard.service=api@internal"
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}-dashboard.entrypoints=websecure"
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}-dashboard.tls=true"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik/traefik.yml:/etc/traefik/traefik.yml:ro
    depends_on:
      - web

  network-connector:
    image: obeoneorg/traefik_network_connector:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  proxy:
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}-openproject.rule=Host(`${FQDN_OPENPROJECT:-openproject.test}`)"
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}-openproject.entrypoints=websecure"
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}-openproject.tls=true"
      - "traefik.http.services.${COMPOSE_PROJECT_NAME}-openproject.loadbalancer.server.port=80"
